<div class="header page-width">
	<div class="header-left">
		<a class="btn-hamburger mobile">
			{% include 'icon-hamburger' %}
		</a>

		{% if section.settings.logo != blank %}
			{% assign logo_size = section.settings.logo_width | append: 'x' %}
			<a href="/"><img src="{{section.settings.logo | img_url:logo_size}}" class="logo"></a>
		{% endif %}

		<a class="btn-ajaxCart mobile">
			{% include 'icon-cart' %}
			<span class="cart-count {% if cart.count <= 0 %}hide{% endif %}">{{cart.item_count}}</span>
			
		</a>
	</div>
	<div class="header-right desktop">
		<div class="main_nav">
			{% for link in linklists[section.settings.main_nav_linklist].links %}
			<a href="{{link.url}}" class="nav-item {% if link.handle == 'sale' %} strong {% endif %} "> {{link.title}} </a>
			{% endfor %}

			{% if section.settings.enable_search %}
			<a href="/search" class="nav-item item-search">
				{% include 'icon-search' %}
			</a>
			{% endif %}

			<a class="nav-item btn-ajaxCart">
				{% include 'icon-cart' %}
				<span class="cart-count {% if cart.item_count <= 0 %}hide{% endif %}">{{cart.item_count}}</span>
			</a>
		</div>
	</div>
</div>

<div class="mobile-nav mobile">
	<a class="btn-close">
		{% include 'icon-close_light' %}
	</a>

	{% if section.settings.enable_search %}
	<div class="nav-item">
		{% include 'search-form' %}
	</div>
	{% endif %}

	{% for link in linklists[section.settings.main_nav_linklist].links %}
	<a url="{{link.url}}" class="nav-item {% if link.handle == 'sale' %} strong {% endif %} "> {{link.title}} </a>
	{% endfor %}
</div>

<div class="ajaxCart">
	<div class="ajaxcart-header">
		<span class="uppercase">Cart {% if cart.item_count > 0 %}(<span class="total_qty">{{cart.item_count}}</span> items){% endif %}</span>
		<a class="btn-close">
			{% include 'icon-close_dark' %}
		</a>
	</div>
	<div class="ajaxcart-content">
		{% for item in cart.items %}
		<div class="item-row" data-variantid="{{item.variant.id}}">
			<div class="item-image">
				<img src="{{item.image | img_url: '80x80'}}">
			</div>
			<div class="item-content">
				<label class="item-title">
					{{item.title}}
				</label>
				<label class="item-price">
					<span class="money sale_price strong">{{item.variant.price | money}}</span> 
					{% if item.variant.compare_at_price > 0 %}
					<del> <span class="money reg_price grey"> {{item.variant.compare_at_price | money}} </span> </del>
					{% endif %}
				</label>
				<div class="item-quantity-row">
					<button class="ajax-qty-adjust ajax-qty-adjust_minus">−</button>
			        <input type="number" class="ajax-qty-num" value="{{item.quantity}}" min="1">
			        <button class="ajax-qty-adjust ajax-qty-adjust_plus">+</button>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="ajaxcart-footer">
		<div> 
			<strong> Subtotal </strong>
			<strong class="ajaxcart-subtotal money">{{cart.total_price | money}}</strong>
		</div>
		<div>
			<a href="/cart" class="btn-cart">View cart</a>
			<a href="/checkout" class="btn-checkout">Proceed to checkout</a>
		</div>
	</div>
</div>
<div class="ajaxcart-overlay hide"></div>

{% schema %}
{
  "name": "Header",
  "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "range",
        "id": "logo_width",
        "label": "Custom logo width",
        "min": 100,
        "max": 800,
        "step": 10,
        "default": 150,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Main menu"
      },
      {
        "type": "link_list",
        "id": "main_nav_linklist",
        "label": "Menu"
      },
      {
        "type": "checkbox",
        "id": "enable_search",
        "label": "Enable search icon",
        "default": true
      }
  ]
}
{% endschema %}